<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/src/output.css">
  <title></title>
</head>
<body>
   <table class="table-auto border-collapse border border-gray-300 w-full mb-8">
      <thead>
        <tr class="bg-gray-200">
          <th class="border border-gray-300 px-4 py-2">ID</th>
          <th class="border border-gray-300 px-4 py-2">Username</th>
          <th class="border border-gray-300 px-4 py-2">Nama</th>
          <th class="border border-gray-300 px-4 py-2">Tanggal Lahir</th>
          <th class="border border-gray-300 px-4 py-2">Email</th>
          <th class="border border-gray-300 px-4 py-2">Domisili</th>
          <th class="border border-gray-300 px-4 py-2">Gender</th>
          <th class="border border-gray-300 px-4 py-2">Photo Profile</th>
          <th class="border border-gray-300 px-4 py-2">Role</th>
        </tr>
      </thead>
      <tbody>
        <% users.forEach(user => { %>
          <tr class="hover:bg-gray-100">
            <td class="border border-gray-300 px-4 py-2"><%= user.idUser %></td>
            <td class="border border-gray-300 px-4 py-2"><%= user.username %></td>
            <td class="border border-gray-300 px-4 py-2"><%= user.nama %></td>
            <td class="border border-gray-300 px-4 py-2"><%= user.tanggalLahir %></td>
            <td class="border border-gray-300 px-4 py-2"><%= user.email %></td>
            <td class="border border-gray-300 px-4 py-2"><%= user.domisili %></td>
            <td class="border border-gray-300 px-4 py-2"><%= user.gender %></td>
            <td class="border border-gray-300 px-4 py-2"><%= user.photo_profile %></td>
            <td class="border border-gray-300 px-4 py-2"><%= user.role %></td>
          </tr>
        <% }) %>
      </tbody>
    </table>

    <form action="/create" method="POST" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
      <h2 class="text-2xl font-bold mb-4">Tambah Data Pengguna</h2>
      <div class="mb-4">
        <label for="username" class="block text-gray-700 text-sm font-bold mb-2">Username:</label>
        <input type="text" id="username" name="username" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required>
      </div>
      <div class="mb-4">
        <label for="password" class="block text-gray-700 text-sm font-bold mb-2">Password:</label>
        <input type="text" id="password" name="password" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required>
      </div>
      <div class="mb-4">
        <label for="nama" class="block text-gray-700 text-sm font-bold mb-2">Nama:</label>
        <input type="text" id="nama" name="nama" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required>
      </div>
      <div class="mb-4">
        <label for="tanggalLahir" class="block text-gray-700 text-sm font-bold mb-2">Tanggal Lahir:</label>
        <input type="date" id="tanggalLahir" name="tanggalLahir" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required>
      </div>
      <div class="mb-4">
        <label for="email" class="block text-gray-700 text-sm font-bold mb-2">Email:</label>
        <input type="email" id="email" name="email" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required>
      </div>
      <div class="mb-4">
        <label for="domisili" class="block text-gray-700 text-sm font-bold mb-2">Domisili:</label>
        <input type="text" id="domisili" name="domisili" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required>
      </div>
      <div class="mb-4">
        <label for="gender" class="block text-gray-700 text-sm font-bold mb-2">Gender:</label>
        <select id="gender" name="gender" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required>
          <option value="Pria">Pria</option>
          <option value="Wanita">Wanita</option>
          <option value="Lainnya">Lainnya</option>
        </select>
      </div>
      <div class="mb-4">
        <label for="photo_profile" class="block text-gray-700 text-sm font-bold mb-2">Photo Profile:</label>
        <input type="text" id="photo_profile" name="photo_profile" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required>
      </div>
      <input type="hidden" id="role" name="role" value="user">
      <div class="flex items-center justify-between">
        <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
          Tambah
        </button>
      </div>
    </form>
  </div>
</body>
</html>